@media (max-width: 1024px) {
  .process {
    text-align: center;
    display: block;
    &__text {
      margin-top: 30px;
    }
    &__desc {
      width: 100%;
      margin: 20px auto;
    }
    &__images {
      margin: 40px auto;
    }
  }
}
