html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Gordita";
  src: url("fonts/Gordita-Regular.woff2") format("woff2"), url("fonts/Gordita-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gordita";
  src: url("fonts/Gordita-Medium.woff2") format("woff2"), url("fonts/Gordita-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gordita";
  src: url("fonts/Gordita-Bold.woff2") format("woff2"), url("fonts/Gordita-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: "Gordita";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  color: #303948;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 630px);
  padding-right: calc(50% - 630px);
}

.heading {
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
}

.header {
  height: 85px;
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
}
.header__logo {
  margin-top: 17px;
}
.header__logo--top {
  position: relative;
  z-index: 1;
  left: 25px;
  top: 17px;
}
.header__logo--bottom {
  position: absolute;
}
.header__menu {
  margin-top: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #303948;
}
.menu__link:not(:last-child) {
  margin-right: 25px;
}
.menu__link:hover {
  text-decoration: underline;
}

.hamb {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: 0.3s;
  background-color: #101010;
}

.top__content {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  -moz-column-gap: 83px;
       column-gap: 83px;
  margin-top: 32px;
  background-image: url("./images/Background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 707px;
  border-radius: 35px;
}
.top__text {
  margin-top: 216px;
  margin-left: 76px;
}
.top__title {
  font-weight: 700;
  font-size: 50px;
  line-height: 71px;
  color: #ffffff;
}
.top__desc {
  margin-top: 18px;
  max-width: 471px;
  min-height: 108px;
  color: #ffffff;
}
.top__button {
  margin-top: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 31px;
}

.button {
  background: #14213d;
  border-radius: 35px;
  border: none;
  width: 264px;
  height: 67px;
  transition: all 0.5s;
  font-size: 22px;
  line-height: 31px;
  color: #fafafa;
}
.button:hover {
  transform: scale(1.05);
}

.about {
  margin-top: 624px;
}
.about__text {
  position: relative;
  max-width: 1039px;
  min-height: 326px;
  left: 111px;
  background: #14213d;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
  border-radius: 35px;
  background-image: url(./images/Vector.svg);
}
.about__title {
  padding-top: 97px;
  padding-left: 45px;
  font-weight: 500;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}
.about__desc {
  padding-top: 29px;
  padding-left: 45px;
  color: #ffffff;
}
.about__arrow {
  float: right;
  margin-right: 60px;
  transition: all 0.3s;
}
.about__arrow:hover {
  transform: scale(1.05);
}

.client {
  margin-top: 84px;
  text-align: center;
}
.client__text {
  margin-top: 25px;
  margin-bottom: 56px;
}
.client__logo {
  margin-top: 61px;
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 27px;
       column-gap: 27px;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}
.client__logo--center {
  padding-top: 18px;
}

.services {
  padding-top: 57px;
  display: grid;
  grid-template-columns: 50% 50%;
  -moz-column-gap: 32px;
       column-gap: 32px;
  padding-bottom: 161px;
}
.services__main-image {
  position: absolute;
}
.services__dot-image {
  position: relative;
  bottom: 35px;
  left: 260px;
}
.services__circle-image {
  position: relative;
  top: 300px;
  right: 75px;
}
.services__text {
  margin-top: 21px;
}
.services__title {
  margin: 14px 0;
}
.services__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service {
  margin-top: 74px;
  max-width: 251px;
}
.service__caption {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.service__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
}
.service__desc {
  margin-left: 10px;
  margin-top: 18px;
  max-width: 200px;
}

.process {
  display: flex;
  -moz-column-gap: 123px;
       column-gap: 123px;
  justify-content: space-around;
  min-height: 785px;
}
.process__text {
  margin-top: 194px;
}
.process__desc {
  max-width: 485.51px;
  margin-top: 52px;
}
.process__button {
  margin-top: 60px;
}
.process__images {
  margin-top: 102px;
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
  justify-content: center;
}

.product {
  padding-top: 61px;
  min-height: 874px;
}
.product__header {
  display: flex;
  justify-content: space-between;
}
.product__title {
  margin: 14px 0;
}
.product__arrows {
  display: flex;
  -moz-column-gap: 40px;
       column-gap: 40px;
  margin-right: 71px;
}
.product__wrapper {
  padding: 0 56px;
  cursor: pointer;
  margin-top: 94px;
  display: flex;
  align-items: center;
  -moz-column-gap: 107px;
       column-gap: 107px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.product__item {
  text-align: center;
}
.product-next, .product-prev {
  margin-top: 40px;
  box-shadow: 0px 25px 50px 0px rgba(0, 0, 0, 0.08);
  width: 80px;
  height: 80px;
  border-radius: 35px;
  background: rgb(20, 33, 61);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item__name {
  margin-top: 36px;
  font-size: 36px;
  font-weight: 500;
  line-height: 51px;
}
.item__desc {
  margin-top: 14px;
  margin-bottom: 36px;
}

.footer {
  margin-top: 44px;
}
.footer__content {
  border-radius: 35px;
  padding: 69px 27px;
  background-image: url("./images/image 1.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}
.footer__text {
  margin-top: 40px;
}
.footer__links {
  margin-top: 11px;
  flex-direction: column;
  display: flex;
  row-gap: 20px;
  list-style: none;
}
.footer__link {
  color: black;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__down-text {
  margin-top: 100px;
}

@media (max-width: 1260px) {
  .center {
    padding-right: 16px;
    padding-left: 16px;
  }
  .top__content {
    position: sticky;
    justify-content: center;
  }
  .about {
    margin-top: 30px;
  }
  .about__text {
    position: sticky;
    width: 100%;
  }
  .services {
    display: block;
  }
  .services__dot-image, .services__circle-image {
    display: none;
  }
  .services__main-image {
    display: none;
  }
}
@media (max-width: 1024px) {
  .process {
    text-align: center;
    display: block;
  }
  .process__text {
    margin-top: 30px;
  }
  .process__desc {
    width: 100%;
    margin: 20px auto;
  }
  .process__images {
    margin: 40px auto;
  }
}
@media (max-width: 767px) {
  .menu {
    display: flex;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.5);
    left: -100%;
    top: 85px;
    z-index: 2;
  }
  .menu.active {
    left: 0;
  }
  .hamb {
    display: block;
    cursir: pointer;
    margin: auto 0;
  }
  .hamb.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamb.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .top__text {
    margin-left: 10px;
  }
  .top__content {
    overflow: hidden;
  }
  .top__title {
    font-size: 30px;
  }
  .top__desc {
    font-size: 20px;
  }
  .about__text {
    padding-bottom: 60px;
  }
  .services__elements {
    justify-content: center;
  }
  .process__images .process__image:not(:first-child) {
    display: none;
  }
  .product__header {
    display: block;
  }
  .footer__content {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer__contact {
    grid-column: 1/3;
    margin-bottom: 30px;
  }
  .footer__down-text {
    grid-column: 1/3;
  }
}
@media (max-width: 430px) {
  .product__wrapper {
    padding: 0 20px;
  }
}/*# sourceMappingURL=style.css.map */